<div class="container-fluid">
    <mat-card class="mt-3">

        <!-- <p>{{role.value | json}}</p> -->

        <h2 class="headertitle">Create Role</h2>
        
            <div class="row">
                <div class="col-md-12" >
                    <ul class="nav nav-tabs" style="background-color: #F0F8FF;">
                        <li [class]="tab1Class">Role</li>
                        <li [class]="tab2Class">Permissions</li>
                    </ul>
                </div>
            </div>
            <form [formGroup]="role" class="body s" *ngIf="tab1Active">
                <ng-container  id="home">
                    <div class="row">
                        <label for="staticEmail"  class="col-md-2 col-form-label">Role Name :</label>
                        <div class="col-sm-3">
                          <input type="text" formControlName="roleName" name="roleName" class="form-control" />
                        </div>
                        <label for="staticEmail" class="col-md-1 status col-form-label">Status :</label>
                        <div class="col-sm-1 mt-2">
                            <mat-slide-toggle color="primary" formControlName="status" name="status"></mat-slide-toggle>
                        </div>
                    </div>
                    <div align="end">
                        <button (click)="next('menu1')" [disabled]="!role.valid" class="btn btn-primary">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
                </ng-container>
               
               
            </form>
               <ng-container *ngIf="tab2Active" id="menu1">
                <div class="row"  class="body active">
					<div class="col-md-12">
						<div class="col-lg-12 col-xs-12"><input type="checkbox" [(ngModel)]="selectAll.status" name="select" (change)="checkChange(selectAll)"> Select All</div>
						<div *ngFor="let rolePermission of selectAll.children; let i = index" [attr.data-index]="i">
							<div class="col-md-12 text-left my-2">
								<h1> <input type="checkbox" name="moduleStatus{{i}}" (change)="checkChange(rolePermission)" [(ngModel)]="rolePermission.status">{{rolePermission.name}}</h1>
							</div>
							<div *ngFor="let controllerPermission of rolePermission.children; let k = index" [attr.data-index]="k">
								<div class="col-md-12 my-2">
									<h3><input type="checkbox" name="controllerStatus{{i}}{{k}}" (change)="checkChange(controllerPermission)" [(ngModel)]="controllerPermission.status">{{controllerPermission.name}}</h3>
								</div>
								<div class="row">
                                    <div class="col-md-3" *ngFor="let actionPermission of controllerPermission.children; let j = index"
									[attr.data-index]="j"><input type="checkbox" (change)="checkChange(actionPermission)" [(ngModel)]="actionPermission.status" name="actionStatus{{i}}{{k}}{{j}}">{{actionPermission.name}}
                                </div>
                                </div>
							</div>
						</div>
					</div>
				</div>

                <div align="end" class="active p-2">
                    <button (click)="next('home')" class="btn btn-primary mx-2"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>

                    <button type="button" (click)="Submit()" [disabled]="!role.valid" class="btn btn-primary" >save</button>

                    

                </div>
               </ng-container>
               
       
    </mat-card>
</div>