<div class="container-fluid">
    <div class="row headertitle">
        <div class="col-sm-11 ">
            <h2>Edit Role</h2>
        </div>
        <div class="col-sm-1"><button class="btn" type="button" mat-dialog-close>&times;</button>
        </div>
        <!-- <div>{{user.value | json}}</div> -->
    </div>
    
    <div class="body mt-2">
        <form [formGroup]="user" (ngSubmit)="Submit()">
            <div mat-dialog-content>
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Username :</label>
                        <input type="text" formControlName="name" class="form-control"  />
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">ERP No :</label>
                        <input type="text" formControlName="erp" class="form-control"  />
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Date of Joining :</label>
                        <input  class="form-control" formControlName="doj" [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </div>
                      <!-- <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Password :</label>
                        <input type="password" formControlName="password" class="form-control" />
                      </div> -->
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Email :</label>
                        <input type="email" formControlName="email" class="form-control" />
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Mobile No :</label>
                        <input type="text" formControlName="mobile" class="form-control" />
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Designation :</label>
                        <input type="text" formControlName="designation" class="form-control"/>
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Department :</label>
                        <input type="text" formControlName="department" class="form-control"  />
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Manager :</label>
                        
                        <ng-select name="manager" placeholder="select" formControlName="manager_id">
                          <!-- <ng-option *ngFor="let role of user" [value]="role.roleId">{{role.roleName}}</ng-option> -->
                          <ng-option  *ngFor="let user of allusers" [value]="user.id">{{user.name}}</ng-option>
                      </ng-select>
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Role :</label>
                        <ng-select name="role" placeholder="select" formControlName="role_id">
                            <ng-option *ngFor="let role of roles" [value]="role.roleId">{{role.roleName}}</ng-option>
                        </ng-select>
                      </div>
              
                    <!-- <div class="col-md-4">
                      <label for="inputPassword4" class="form-label">Status :</label><br>
                      <mat-slide-toggle color="primary" formControlName="enabled" name="enabled"></mat-slide-toggle>
                    </div> -->
                     
                </div>
        
                <div  align="end" class="mt-1" >
                    <button type="submit" [mat-dialog-close]="'success'" [disabled]="!user.valid" class="btn btn-primary" >save</button>
                </div>
            </div>
        </form>
    </div>
    </div>